<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html>
<head>
	<title>Войти в профиль</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	
	<script data-ad-client="ca-pub-2112655995559725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	
	
	
	
</head>






<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">vksound.ru</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link disabled" href="#">Created by Sergey Tugunov</a>
      </li>
		</li>
        <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Помощь</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/update">Обновления</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/nahleb">Пожертвовать</a>
      </li>
    </ul>
  </div>
</nav>








<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Войти</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-vk" href ="https://github.com/tagunzet/vksound"></i></span>
					<span>
						<i class="fab fa-github" href ="https://github.com/tagunzet/vksound"></i>
					</span>

				</div>
			</div>
			<div class="card-body">
				<form action="/login/" method="POST">
<!--				<div class="input-group form-group">-->
<!--						<div class="input-group-prepend">-->
<!--							<span class="input-group-text"><i class="fas fa-user"></i></span>-->
<!--						</div>-->
<!--						<input name="username" placeholder="Логин">-->
<!--						-->
<!--					</div>-->
<!--					-->
<!--				-->
<!--					<div class="input-group form-group">-->
<!--						<div class="input-group-prepend">-->
<!--							<span class="input-group-text"><i class="fas fa-user"></i></span>-->
<!--						</div>-->
<!--						<input type="password" name="password" placeholder="Пароль">-->
<!--						-->
<!--					</div>-->
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						 <input name="code" placeholder="ID страницы с аудио">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Запомнить меня
					</div>
					<div class="form-group">
						<input type="submit" value="Войти" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Аудиозаписи должны быть открыты! 
				</div>
				<div class="d-flex justify-content-center links">
					Мы не храним ваши данные и сессии. 
				</div>
			</div>
		</div>
	</div>
</div>





</body>
</html>