<!doctype html>
<html lang="en">
<head>
	<title>Войти в профиль</title>
   <!--Made with love by Mutiullah Samim -->

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="/static/style.css">







</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">vksound.ru</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link disabled" href="#">Created by Sergey Tugunov</a>
      </li>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Помощь</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/update">Обновления</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/nahleb">Пожертвовать</a>
      </li>
    </ul>
  </div>
</nav>


<center>
  <br></br>
  <p><font size="14" color="#FFF8DC" face="cursive">Список обновлений</font></p><br>
   <p><font size="4" color="#FFF8DC" face="cursive"> v1.0.3 </font></p>
   <p><font size="4" color="#FFF8DC" face="cursive"> Исправлена форма входа , теперь авторизация не требуется . </font></p><br>
    <p><font size="4" color="#FFF8DC" face="cursive"> Изменен интерфейс. </font></p><br>
	<p><font size="4" color="#FFF8DC" face="cursive"> Исправлены мелкие ошибки </font></p><br>
     <p><font size="4" color="white" face="cursive "> Если у вас возникли какие либо проблемы при работе с плеером , оставьте отзыв на "..."  </font></p>
   <p><img src="static/images/koshka.png" alt="Окно входа"></p>

</center>



</body>
</html>